.ButtonComponent {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.custom-button:active {
  transform: scale(0.95);
  opacity: 1;
}
